# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.iml

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local development files
*.sqlite3
